.login-img {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

.login {
    display: block;
    font-family: var(--ff-primary);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10em;
}

.welcome {
    font-family: var(--ff-secondary);
    font-weight: bold;
    font-size: 36px;
}

.credentials-username, .credentials-password {
    margin-bottom: 0px;
}

input[type="text"] {
    font-size: 14px;
    font-family: var(--ff-primary);
}

.credentials-username-input:focus, .credentials-password-input:focus {
    outline: none;
    border: 2px solid #1A1A1A;
}

.credentials-username-input, .credentials-password-input {
    
    -webkit-transition: 0.05s ease;
    transition: 0.05s ease;
    border-radius: 0.4em;
}

.login-page-buttons {
    font-family: var(--ff-primary);
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-page-buttons:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.9;
    
}

.login-page-buttons:focus {
    outline: none;
    border: 2px solid #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.8;
}

.login-forgot-password:focus {
    outline: none;
    border: 2px solid #1A1A1A;
}

.incorrect-password {
    display: none;
}
.incorrect-password-hidden {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: red;
}


.credentials-username-input, .credentials-password-input {
    border: none;
    width: 200px;
    height: 30px;
}


.login-forgot-password {
    color: black;

}

#create-account {
    margin: 0;
    margin-top: 5em;
    width: 9em;
    height: 2.3em;
    
    font-size: 1em;
    color: white;
    padding: 0.4em;
    text-align: center;
    margin-right: 1em;
    float: right;
    
}





@media (min-width:1000px) {
    .welcome {
        font-size: 64px;
        text-align: center;
    }
    .login {
        max-width: 1000px;
        display: grid;
        padding: 2em;
        font-family: var(--ff-primary);
        grid-template-columns: 400px 1fr;
        padding-top: 2%;
        margin: auto auto;
        align-items: center;
        grid-column-gap: 5em;

    }
    
    .login-img {
        margin-top: 150px;
        height: 290px;
        width: 75%;
        margin-left: 30px;
    }
    
    .credentials {
        width: 100%;
        font-size: 20px;
        text-align: left;
        margin-top: 5em;
        
    }
    
    .credentials-username, .credentials-password {
        margin-bottom: 0px;
        margin-top: 1em;
    }

    .credentials-username {
        margin-top: 2em;
    }

    .credentials-username-input, .credentials-password-input {
        width: 450px;
        height: 50px;

    }

    input[type="text"] {
        font-size: 22px;
        font-family: var(--ff-primary);
    }

    .login-page-buttons {
        font-family: var(--ff-primary);
        appearance: none;
        background-color: #000000;
        border: 2px solid #1A1A1A;
        font-size: 20px;
        text-decoration: none;
        width: 120px;
        height: 40px;
        position: relative;
        margin: 0 70px 0px 160px;
        cursor: pointer;
        color: white;
        border-radius: 12px;
        margin-bottom: 40px;
    }

    .login-forgot-password {
        font-size: 20px;
        color: black;
        margin: 0 75px 0px 60px;
        margin-bottom: 20px;
      
        
    }
    .incorrect-password {
        display: none;
    }
    .incorrect-password-hidden {
        display: block;
        margin-top: 5px;
        font-size: 0.8em;
        color: red;
    }

    #create-account {
        margin-top: 8%;
        bottom: 2.5em;
        width: 180px;
        height: 50px;
        font-size: 20px;
        color: white;
        padding: 10px;
        text-align: center;
        margin-right: 2.5%;
        
    }
    
    .shake {
        animation-name: shake-animation;
        animation-duration: 0.3s;
    }

    @keyframes shake-animation {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
          }
          
        20%, 80% {
            transform: translate3d(4px, 0, 0);
          }
        
        30%, 50%, 70% {
            transform: translate3d(-6px, 0, 0);
          }
        
        40%, 60% {
            transform: translate3d(6px, 0, 0);
          }
    }

    

}

