<p>signup works!</p>

<div class="signup">
    

    <img src="assets/img/outline-status-heart-plus@2x.png" class="login-img">

    <div class="credentials">
        <h1 class="welcome"w>Welcome!</h1>
        <p class="credentials-fname" id="fname">First Name</p>
        <input type="text" class="credentials-username-fname" [(ngModel)] = "fname">
        <p class="credentials-fname">Last Name</p>
        <input type="text" class="credentials-username-lname" [(ngModel)] = "lname">
        <p class="credentials-username">Email</p>
        <input type="text" class="credentials-username-input" [(ngModel)] = "email">
        <p class="credentials-password">Password</p>
        <input type="password" class="credentials-password-input" [(ngModel)] = "password">
        <p class="credentials-password">Role</p>
        <input type="text" class="credentials-password-input" [(ngModel)] = "role">
        
    </div>
    <div></div>

    <button class="login-button" #login (click)="onClick()">
        Sign Up
    </button>
    <div></div>
    <button (click) = "backToLoginClick()" class="backToLoginButton">I have an account already</button>
    <div></div>
    

</div>


  
  
