.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 20em 20em;
    grid-template-areas: 
    ". ."
    ". ."
    ". ."
    "bottom bottom"
    ". button";
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    /* margin-left: calc(500px - 27%) !important; */
}

h1 {
    font-family: var(--ff-primary);
    font-size: 40px;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

input[type="text"] {
    font-size: 16px;
    font-family: var(--ff-primary);
}


.add-nurse-text {
    margin: 0;
    font-family: var(--ff-primary);
    font-size: 1.2em;
}

.add-nurse-input {
    font-size: 1.1em;
    font-family: var(--ff-primary);
    margin-bottom: 1em;
    border: none;
    border-radius: 0.3em;
    width: 16.5em;
    height: 2.5em;
    -webkit-transition: 0.05s ease;
    transition: 0.05s ease;
    
}

.add-nurse-input:focus {
    outline: none;
    border: 2px solid #1A1A1A;
}

.skill-description {
    grid-area: bottom;
}

#skills-input {
    width: 100%;
    height: 10em;
    border-radius: 0.5em;
}

.add-nurse-button {
    display: flex;
    grid-area: button;
    justify-self: end;
}

.grid-col-2 {
    justify-self: end;
}

.addbutton {
    font-family: var(--ff-primary);
    appearance: none;
    background-color: #21E60F;
    border: 2px solid #21E60F;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 10em;
    height: 3em;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 1em;
}

.cancelbutton{
    font-family: var(--ff-primary);
    appearance: none;
    background-color: red;
    border: 2px solid red;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 10em;
    height: 3em;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 1em;
    margin-right: 1em;

}
button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.9;
}

.cancelbutton:focus, .addbutton:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    opacity: 0.8;
}

